{% extends "student_layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>
        <b> MY CLASS HISTORY </b>
    </h1>
    <hr>
    <br>
    <p>
        Your past lesson records are displayed as below. 
        Please note that your class records will not appear in the below table until your teacher has validated the class.
    </p>
    {% if count_history == 0 %}
    <p>
        You currently do not have any past lessons. 
    </p>
    {% else %}
        <div class="alert alert-primary" role="alert">
            <strong>
                You have learned for total {{ "{:.1f}".format(total_hour) }} hours using this platform :)
            </strong>
        </div>
        <br>
        <table class="TFtable">
            <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Time</th>
                <th>Hours</th>  
                <th>Subject</th>
                <th>Name</th>
                <th>Teacher</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td class="counterCell"></td>
                <td>{{ row["date"] }}</td>
                <td>{{ row["time"] }}</td>
                <td>{{ "{:.1f}".format(row["duration"]) }}</td>
                <td>{{ row["subject"] }}</td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["teacher_name"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <b>Total of {{ count_history }} records found </b> 
    {% endif %}
{% endblock %}






