{% extends "student_layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
    <h1>
        <b> CONFIRMATION OF ENROLLMENT </b>
    </h1>
    <hr>
    <p>
        You indicate to enrol into the class with below details. 
    </p>
    <div>
        <table>
            <tr>
                <td><b>Teacher:</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["teacher_name"] }}</td>
            </tr>
            <tr>
                <td><b>Subject</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["subject"] }}</td>
            </tr>
            <tr>
                <td><b>Name</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["name"] }} </td>
            </tr>
            <tr>
                <td><b>Date</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["date"] }} </td>
            </tr>
            <tr>
                <td><b>Day</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["day"] }} </td>
            </tr>
            <tr>
                <td><b>Time</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["time"] }} </td>
            </tr>
            <tr>
                <td><b>Duration:</b> &nbsp; &nbsp; </td>
                <td>: </td>
                <td>&nbsp; &nbsp; {{ row["duration_hour"] }} hour(s) and {{ row["min"] }} min(s) </td>
            </tr>
        </table>
    <br> 
    </div>
    <label> <b>Details: </b> <br>{{ row["message"] }} </label>
    <br><br>
    <p>
        Are you sure you want to enroll into this class?
    </p>
    
    <div class="row">
        <div class="col-md-3">
            <form action="/enroll" method="POST">
                <input type="hidden" name="name" value="{{ row['name'] }}">
                <input type="hidden" name="date" value="{{ row['date'] }}">
                <input type="hidden" name="day" value="{{ row['day'] }}">
                <input type="hidden" name="time" value="{{ row['time'] }}">
                <input type="hidden" name="duration_hour" value="{{ row['duration_hour'] }}">
                <input type="hidden" name="duration_min" value="{{ row['duration_min'] }}">
                <input type="hidden" name="teacher_id" value="{{ row['teacher_id'] }}">
                <input type="hidden" name="confirm" value="yes">
                <button type="submit" class="btn btn-info btn-block">Yes, enroll me !</button>
            </form>
        </div>
        <div class="col-md-3">
            <form action="/enroll" method="POST">
                <input type="hidden" name="confirm" value="no">
                <button type="submit" class="btn btn-info btn-block">No, cancel enrollment !</button>
            </form>
        </div>
    </div>
    
{% endblock %}