{% extends "student_layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>
        <b> WELCOME, {{ name }} ! </b>
    </h1>
    <hr>
    
    <p>
        Congratulations for your passion of learning! This is an online educational platform that aims to provide basic education 
        to people who do not have access to education. May learning passion motivate you to achieve your goals 
        and we can't wait to celebrate your achievements :)
    </p>
    
    <h5 class="subtitle" style="color:darkblue;">
        I register as a student for below subjects:     
    </h5>

    {% if count_learning == 0 %}
    <p>
        You currently do not register for any subjects to be taught. 
        You may update this in "Profile" tab. 
    </p>
    {% else %}
        <table class="TFtable">
            <tr>
                <th>No.</th>
                <th>Subject</th>
                <th>Type</th>
            </tr>
            {% for row in learning %}
            <tr>
                <td class="counterCell"></td>
                <td>{{ row["name"] }}</td>
                <td>{{ row["type"] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>

    {% if count_upcoming == 0 %}
    <h5 class="subtitle" >
        <span style="color:darkblue;"> My upcoming lessons: </span> 
    </h5>
    <p>
        You currently do not register for any lesson. 
        You may search for lessons by clicking the "Search" tab. 
    </p>
    {% else %}
    <h5 class="subtitle" >
        <span style="color:darkblue;"> My upcoming lessons: </span> 
        <span style="font-size: smaller;"> Total of <b>{{ count_upcoming }} records </b> found </span> 
    </h5>
    {% for i in range (0, count_upcoming) %}
    <div class="card">
        <h5 class="card-header">{{ upcoming[i]["name"] }}
            <span style="float: right;"><b>Teacher:</b> {{ upcoming[i]['teacher_name'] }} </span></h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                <h6 class="card-title">
                    <table>
                        <tr>
                            <td><b>Date</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["date"] }}</td>
                        </tr>
                        <tr>
                            <td><b>Day</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["day"] }}</td>
                        </tr>
                        <tr>
                            <td><b>Time</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["time"] }} </td>
                        </tr>
                        <tr>
                            <td><b>Duration</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["duration_hour"] }} hour(s) and {{ upcoming[i]["duration_min"] }} min(s) </td>
                        </tr>
                    </table>
                </h6>
                </div>
                <div class="col-md-7">
                <h6 class="card-title">
                    <table>
                        <tr>
                            <td><b>Type</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["type"] }}</td>
                        </tr>
                        <tr>
                            <td><b>Subject</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["subject"] }}</td>
                        </tr>
                        <tr>
                            <td><b>Level</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["level"] }} </td>
                        </tr>
                        <tr>
                            <td><b>Total Enrollment</b> &nbsp; &nbsp; </td>
                            <td>: </td>
                            <td>&nbsp; &nbsp; {{ upcoming[i]["count_student"] }} </td>
                        </tr>
                    </table>
                </h6>
                </div>
            </div>
            <div class="card-text">
                <p><b>Details</b>: {{ upcoming[i]["message"] }}</p>   
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" 
                    data-target="#collapseExample{{ upcoming[i]['id'] }}" aria-expanded="false" aria-controls="collapseExample">
                        View Teacher
                    </button>
                </div>
                <div class="col-md-2">
                    <form action="/cancel_confirm" method="POST">
                        <input type="hidden" name="name" value="{{ upcoming[i]['name'] }}">
                        <input type="hidden" name="date" value="{{ upcoming[i]['date'] }}">
                        <input type="hidden" name="day" value="{{ upcoming[i]['day'] }}">
                        <input type="hidden" name="time" value="{{ upcoming[i]['time'] }}">
                        <input type="hidden" name="duration_hour" value="{{ upcoming[i]['duration_hour'] }}">
                        <input type="hidden" name="duration_min" value="{{ upcoming[i]['duration_min'] }}">
                        <input type="hidden" name="type" value="{{ upcoming[i]['type'] }}">
                        <input type="hidden" name="subject" value="{{ upcoming[i]['subject'] }}">
                        <input type="hidden" name="level" value="{{ upcoming[i]['level'] }}">
                        <input type="hidden" name="message" value="{{ upcoming[i]['message'] }}">
                        <button type="submit" class="btn btn-danger btn-block">Cancel Class</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="collapse" id="collapseExample{{ upcoming[i]['id'] }}">
                        <div class="card card-body">
                            <table>
                                <tr>
                                    <td><b>Teacher</b></td>
                                    <td>: </td>
                                    <td>{{ upcoming[i]['teacher_name'] }}</td>
                                </tr>
                                <tr>
                                    <td><b>Skype ID</b></td>
                                    <td>: </td>
                                    <td>{{ upcoming[i]['teacher_skype_id'] }}</td>
                                </tr>
                                <tr>
                                    <td><b>Occupation</b></td>
                                    <td>: </td>
                                    <td>{{ upcoming[i]['teacher_occupation'] }} </td>
                                </tr>
                                <tr>
                                    <td><b>Organization</b></td>
                                    <td>: </td>
                                    <td>{{ upcoming[i]['teacher_organization'] }} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}

{% endblock %}