{% extends "teacher_layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
    <h1>
        <b> SCHEDULING MY NEXT LESSON </b>
    </h1>
    <hr>
    <p>
        To schedule a lesson, please complete the form below. Please note that in order to schedule a class, 
        you first need to indicate what subjects you want to teach in the 'Profile' tab. 
    </p>
    <form action="/schedule" method="POST">
        <div class="row">
            <div class="col-md-4 form-group">
                <label> Subject: *  </label>
                <select class="form-control" name="subject">
                    <option disabled="" selected="" value="">Select a subject</option>
                        {% for row in rows %}
                            <option value= "{{ row['name'] }}" >{{ row['name'] }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-md-8 form-group">
                <label> Class Name: * </label>
                <input name="name" type="text" class="form-control" placeholder="Enter your class name">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label> Date: *</label>
                <input name="date" type="date" class="form-control">
            </div>
            <div class="col-md-4 form-group">
                <label> Time: *</label>
                <input name="time" type="time" class="form-control">
            </div>
            <div class="col-md-2 form-group">
                <label> Duration (hour): *</label>
                <input name="duration_hour" type="number" class="form-control" min=1 step=1>
            </div>
            <div class="col-md-2 form-group">
                <label> Duration (min): </label>
                <input name="duration_min" type="number" class="form-control" min=0 max=45 step=15>
            </div>
        </div>
        
        <div>
            <label> Level: </label> 
            <select class="form-control" name="level" style="width:40%">
                <option disabled="" selected="" value="">Select Level</option>
                <option value= "Basic">Basic</option>
                <option value= "Basic-to-Intermediate">Basic-to-Intermediate</option>
                <option value= "Intermediate">Intermediate</option>
                <option value= "Advanced">Advanced</option>
            </select>
            <small class="text-muted">
                If you define the level, it would ensure the suitable enrollment of students. Please refer to the level guidelines at the bottom of this page for more information. 
            </small>
            <br>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                Basic
            </button>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Basic-to-Intermediate
            </button>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                Intermediate
            </button>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                Advanced
            </button>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    The basic level is for those who have no exposure to this subject at all. Usage of technical terms should be minimized.
                </div>
            </div>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    This is a level between basic and intermediate. You can expect students to have little exposure but they need to learn at a slower pace to further understand the subject.
                </div>
            </div>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    Students at this level can go with a relatively faster pace. They are trying to learn more so they can further enhance their knowledge in this subject.
                </div>
            </div>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    Students at this level already possess depth knowledge in this subject. They probably want to learn more from you so that they can be a teacher in this subject and help their community like you :)
                </div>
            </div>
        </div>
        <br>
        <div>
            <label> Message: </label>
            <textarea name="message" type="text" class="form-control" rows="4"></textarea>
        </div>
        <br>
        <input type="hidden" name="class_id" value="None">
        <button type="submit" class="btn btn-primary btn-block">Schedule</button>
    </form>
{% endblock %}