{% extends "teacher_layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h1>
        <b> MY PROFILE </b>
    </h1>
    <hr>
    
    <div>
            <table style="font-size: larger;">
                <tr>
                    <td>Name &nbsp; &nbsp; </td>
                    <td>: </td>
                    <td>&nbsp; &nbsp; {{ row["name"] }}</td>
                </tr>
                <tr>
                    <td>Email &nbsp; &nbsp; </td>
                    <td>: </td>
                    <td>&nbsp; &nbsp; {{ row["email"] }}</td>
                </tr>
                <tr>
                    <td>Role &nbsp; &nbsp; </td>
                    <td>: </td>
                    <td>&nbsp; &nbsp; {{ row["role"] }}</td>
                </tr>
            </table>
    </div>
    <hr>

    <p>
        You may update your profile by clicking the update button below. 
    </p>

    <form action="/profile" method="POST">  
        <div class="row">
            <div class="col-md-4 form-group">
                <label> First Name: </label>
                <input name="first" type="text" class="form-control" placeholder="First name" value="{{ row['first'] }}">
            </div>
            <div class="col-md-4 form-group">
                <label> Last Name: </label>
                <input name="last" type="text" class="form-control" placeholder="Last name" value="{{ row['last'] }}">
            </div>
            <div class="col-md-4 form-group">
                <label> Skype ID: </label>
                <input name="skype_id" type="text" class="form-control" placeholder="(not provided yet)" value="{{ row['skype_id'] }}">
            </div>
        </div>
        <small id="nameHelp" class="form-text text-muted">Your displayed name is your first name followed by your last name.</small>
        <br>
        <div class="row">
            <div class="col-md-4 form-group">
                <label> Occupation: </label>
                <input name="occupation" type="text" class="form-control" placeholder="(not provided yet)" value="{{ row['occupation'] }}">
            </div>
            <div class="col-md-8 form-group">
                <label> Organization: </label>
                <input name="organization" type="text" class="form-control" placeholder="(not provided yet)" value="{{ row['organization'] }}">
            </div>
        </div>

        <p>
            <b>I want to teach the following subjects:</b>
        </p>

        {% for item in type_subj_lists %}
        <div>
            <label> {{ item[0] }}: </label>
            <br>
            {% for item in item[1] %}
            <div class="form-check form-check-inline">
                <input name="subjects" class="form-check-input" 
                    type="checkbox" id="inlineCheckbox1" value="{{ item }}"> 
                <label class="form-check-label" for="inlineCheckbox1"> {{ item }} </label>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Update</button>
    </form>
    
{% endblock %}